body {
    width: 700px;
    margin: 40px auto;
    font-family: 'District Pro', sans-serif;
    font-size: 1.5em;
    color: #333;
    font-smoothing: antialiased;
    text-align: center;
    line-height: 135%;
}

.avatar {
    border-radius: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'District Pro', sans-serif;
    font-weight: normal;
    color: #000;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h1, h2, p {
    margin-bottom: 24px;
}

hr {
    border: 0;
    background: url("/images/flourish.png") 0 0 no-repeat;
    background-size: 350px 25px;
    width: 350px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

a {
    color: #368;
    text-decoration: none;
}

#latitude {
    height: 0;
    overflow: hidden;
}

.taller {
    height: 450px !important;
    margin-bottom: 32px;
}

#latitude+p {
    margin-top: -32px;
}

hr, img, h1, h2, p, #latitude {
    -webkit-transition: 1s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: 1s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: 1s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 1s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.blur {
    opacity: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}