@font-face {
  font-family: Optima;
  font-weight: 400;
  src: url("/fonts/OptimaLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: Optima;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/OptimaLTStd-RomanItalic.otf") format("opentype");
}

@font-face {
  font-family: Optima;
  font-weight: 700;
  src: url("/fonts/OptimaLTStd-DemiBold.otf") format("opentype");
}

@font-face {
  font-family: Optima;
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/OptimaLTStd-DemiBoldItalic.otf") format("opentype");
}
